html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}
